PORT=8080
NODE_ENV=development

JWT_ACCESS_SECRET=test
JWT_REFRESH_SECRET=test
JWT_ACCESS_LIFE_TIME=24h
JWT_REFRESH_LIFE_TIME=30d

DB_CLIENT=pg
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=12345
DB_NAME=db
DB_PORT=5432

OPENAI_API_KEY=your_api_key_here
